* {
    font-family: "Arial", "Helvetica", "sans-serif";
    font-size: 14px;
}

dd, dt, dl, blockquote {
    margin: 0;
    padding: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    color: #000;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    height: 38px;
    line-height: 38px;
    background-color: #03235c;
}

header .nav_main {
    margin: 0 auto;
    position: relative
}

.w {
    width: 100%;
}

header .nav_main .logo {
    float: left;
}

header .nav_main a {
    padding: 0 10px;
    height: 100%;
    display: block;
    font-size: 1rem;
    color: #FFF;
    text-align: center;
    float: left;
    transition: background-color .2s linear 0s;
}
.ldgplayer
{
    width: 100%!important;
    height: auto;!important;
}
header .nav_main a:first-child {
    padding-left: 0 !important;
}

.main {
    margin: 0 auto;
}

.main section {
    width: 100%;
    float: left;
}

.main aside {
    width: 100%;
    float: left;
}

.main aside ul {
    padding-left: 0;
    margin: 0 !important;
}

.main aside ul li {
    list-style: none;
    position: relative;
}
.main aside ul li>div a{
    height: 70px;
    display: block;
}

.main aside ul li img {
    display: block;
    float: left;
    padding-right: 16px;
    width: 100px;
    height: 70px;
}

.main aside ul li h3 {
    margin: 0 0 5px;
    line-height: 1.8em;
    font-weight: normal;
    color: #555;
}

.main article {
    float: left;
}

.main article .sidebar_per {
    border-top: 6px solid #333;
    background-color: #fff;
    margin: 12px 0;
    float: left;
    width: 100%;
}

.sidebar_per dt {
    height: 40px;
}

.sidebar .sidebar_per dt a.more {
    margin-right: 9px;
    color: #999;
}

.sidebar_per dt strong {
    color: #414141;
    display: inline-block;
    font-size: 16px;
    margin: 5px 9px 0 0;
    font-weight: normal;
}

.sidebar_per dt strong .name-en {
    color: #ddd;
}

.sidebar_per dt a {
    float: right;
    margin: 11px 0 0 0;
}

.sidebar_per dd.sidebar_articles span {
    float: right;
    color: #ccc;
    display: block;
    width: 20%;
    line-height: 26px;
}
.sidebar_per dd.sidebar_articles::after
{
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.sidebar_per dd.sidebar_articles a {
    display: block;
    width: 77%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #555;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    padding: 0 0 0 3%;
    float: left;
    height: 26px;
    line-height: 26px;
}

.main:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.video-list ul {
    margin: 0;
    padding: 0;
}

.video-list ul li {
    list-style: none;
    float: left;
    margin-bottom: 5px;
    overflow: hidden;
    margin-top: 5px;
    width: 50%;
    position: relative;
}

.video-list ul li a {
    color: rgb(0, 0, 238) !important;
}

.video-list li img {
    width: 100%;
    height: 133px;
    image-rendering: -webkit-optimize-contrast;
}
.video-list li a
{
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.video-list li > a:first-child {
    display: block;
}

.dt-rt {
    float: left;
}

.main label {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    margin: 0;
}

.dt-rt ul {
    margin: 0;
    padding: 0;
}

.dt-content section {
    float: none;
    width: 100%;
}

label h2 {
    font-size: 16px;
    margin: 0;
}

.dt-rt ul li {
    list-style: none;
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
}

.dt-rt ul li img {
    width: 96%;
    height: 133px;
}

.dt-rt ul li p {
    width: 96%;
    margin: 5px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dt-detail-ct {
    padding: 8px 0 18px;
}
.clear
{
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
}
.page>.pagination {
    margin: 0;
    padding: 0;
}
.page>.pagination>li,.page>.pagination>li>span
{
    width: auto;!important;
    display: block;
    list-style: none;
    float: left;
    overflow: hidden;
    margin-right: 2px;
    font-size: 16px;
}
.page>.pagination>li>a,.page>.pagination>li>span
{
    height: 20px;
    display: block;
    background: #03235c;
    color: white!important;
    width: 20px;
    text-align: center;
    line-height: 20px;
}


.page>.pagination>li span
{
    font-size: 14px;
}
footer.ifoot {
    padding: 1rem 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .05);
    background: #efefef;
    color: #888;
    text-align: center;
    line-height: 1.2;
}
span.my_video_length
{
    display: inline-block;
    background: #0C0C0C;
    opacity: 0.6;
    padding: 2px 0;
    font-size: 12px;
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100px;
    bottom: 0;

}
span.my_video_length.video_length
{
    width: 100%;
    bottom: 23px;
    left: 0;
}
span.my_video_length.video_length.video_play
{
    width: 96%;
    left: 2%;
    bottom: 33px;
}
span.m-video-length
{
    left: 12px;
}

.breadcrumb
{
    margin-top: 13px;
}